.Card {
    border:1px black solid;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    margin: 30px;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
